<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149641120548-2k93qqdd7ed3b1rtar2svsuvamrv5qja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149641120548-2k93qqdd7ed3b1rtar2svsuvamrv5qja</string>
	<key>API_KEY</key>
	<string>AIzaSyBkRMeKxLUMU6gp6CnOJ5Ks54vF_3OKgk4</string>
	<key>GCM_SENDER_ID</key>
	<string>149641120548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.telamotoristas</string>
	<key>PROJECT_ID</key>
	<string>dados2-e3928</string>
	<key>STORAGE_BUCKET</key>
	<string>dados2-e3928.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149641120548:ios:acef708b5f22066ed9c1b1</string>
</dict>
</plist>